@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


body {
    background-color: #8c8c8c;
}

#titulo1 {
    text-align: center;
    font-size: 34px;
    padding-bottom: 20px;
}

#titulo2 {
    text-align: center;
    font-size: 34px;
    ;
}

.container #imagem01 .img1 {
    background-size: cover;
    border: 2px solid;
    border-radius: 145px;

}
.container #imagem01 {
    text-align: center;
    padding-top: 15px;
}

.container #imagem02 #img2 {
    height: 300px;
    border-radius: 145px;
}

#titulo1 {
    border: 1px solid black;
    text-decoration: none;
    font-family: 25px;
    background-color: white;
    margin: 0px 800px 0px 800px;
    padding-top: 10px;
    border-radius: 20px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.page2 {
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    background-color: green;
    padding: 15px 25px 15px 25px;
    text-align: center;

}

.page2:hover {
    padding: 15px 30px 15px 30px;
    background-color: black;
    color: wheat;
}

#page2 {
    display: inline-block;
    padding-top: 20px;
    text-align: center;
    
}

.div-central {
    text-align: center;

}

.div-imagem {
    background-size: contain;
    

}


.div-imagem .imagem-page2_01 {
    height: 400px;
    width: 800px;
    border-radius: 100px;

}

.div-central .paragrafos{
    text-align: center;
}

