


.button1 {
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 50%;
    
}


.imagem1 img{
    display: block;
    margin: auto;
    border-radius: 60%;
    border: 2px solid black;

}




h1 {
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: center;
    
}

p1 {
    color: rgb(255, 255, 255); 
}


p2 {
   color: rgb(182, 0, 0); 
}

