* {
    margin: 0;
    padding: 0;
}

#content-header-image {
    width: 100%;
    background-color: black;

}

#content-image {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    background-color: black;
}

#imagem-header {
    width: 100%;
}

#header-image {
    height: 110px;
    display: block;
    padding-left: 0px;
    padding-top: 0px;
    width: 1000px; 
}

#content-nav {
    width: 100vw;
    background-color: #404040;
}

#nav-header {
    width: auto;
    margin: 0 auto;
}

#information-nav {
    display: flex;
    justify-content: center;
}

#id-nav-menuul {
    width: 1000px;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    list-style: none;
    height: 36px;
}

#id-nav-menuul li {
    height: 100%;
    background-color: #404040;
    transition: all 0.6s;
}
#id-nav-menuul li:hover {
    display: flex;
    align-items: center;
    background-color: black;
    height: 100%;
    transition: 0.6;
}


#id-nav-menuul li a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #ccc;
    padding: 0px 20px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
}

#information-nav-button {
    display: none;
    justify-content: center;

}

#centralizador-left {
    width: 1000px;
    text-align: left;
}

#centralizador-left a {
    text-decoration: none;
    text-transform: uppercase;
    color: #888;
    padding: 10px;
    background-color: #303030;
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: 400;
}
.menu-mobile {
    display: none;
    flex-direction: column;
    background-color: #404040;
    width: 100%;
    text-align: center;
}

#id-nav-menuul-mobile li {
    background-color: #404040;
    transition: all 0.3s;
}

#id-nav-menuul-mobile li:hover {
    background-color: black;
}

#id-nav-menuul-mobile li a {
    color: #ccc;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Exibe o menu em coluna quando ativado */
.menu-mobile.active {
    display: flex;
}


@media  (width < 1000px) {
    #information-nav {
        display: none;
    }
    #header-image{
        width: 700px;
    }

    #imagem-header {
        display: flex;
        justify-content: center;
    }
    
    #information-nav-button {
        display: flex;
        justify-content: center;
    }
    
    #centralizador-left {
        display: flex;
        width: 700px;
        text-align: left;
    }
}


@media (width < 870px) {
    #header-image{
        width: 500px;
    }
 
    #information-nav-button {
        display: flex;
        justify-content: center;
    }
    
    #centralizador-left {
        display: flex;
        width: 500px;
        text-align: left;
    }

}

@media (width < 630px) {
    #header-image {
        width: 300px;
    }

    #information-nav-button {
        display: flex;
        justify-content: center;
    }
    
    #centralizador-left {
        display: flex;
        width: 300px;
        text-align: left;
    }
}


