* {
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: white;
}

header {
   
    display: flex;
    width: 100vw;
    height: 50px;
    justify-content: space-around;
    z-index: 1000;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.logo-header {
    width: 30%;
}

.logo-header a{
    display: flex;
    align-items: center;
    font-size: 35px;
    text-align: center;
    color: black;
    ;
}

#imagem {
    height: 100px;
    width: 100px;
}

.email {
    font-size: 21px;
}

.email a{
    display: flex;
    align-items: center;
    font-size: 30px;
}

.content {
    display: flex;
    
}

.content ul{
    gap: 20px;
    display: flex;
    align-items: center;
}


section {
    height: 100vh;
    width: 100vw;
    text-align: center;
}
.section_container {
    display: flex;
    width: 70%;
    height: 100%;
    margin: 0 15%;
}

.left {
    position: absolute;
    top: 25%;
    width: 40%;
    height: 100%;
    text-align: center;
}

.left h1  {
    width: 320px;
    font-size: 50px;
}

#name1 {
    text-align: left;
}

#name2 {
    text-align: left;
    padding-left: 70px;
    margin-bottom: 5%;
}

.left h2 {
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 10%;
    width: 100%;
    text-align: left;
}

.left p{
    font-size: 20px;
    width: 60%;
    text-align: left;
    line-height: 35px;
}

.right {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 40%;
    height: 100%;
    text-align: center;
}

.right img {
    width: 90%;
    height: 60%;
    border-radius: 20%;
}


#casa {
    color: black;
}

#casa:hover {
    color: red;
}