section {
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section-main {
    height: 100%;
    padding: 40px;
}

.section-secundar {
    display: flex;
    align-items: center;
    height: 100%;
    
}

.image-left {
    display: flex;
    justify-content: left;
    
}

.image-left img {
    border-radius: 100%;
}


.information-right {
    margin-left: 30px;
}

.sub-informarions {
    margin-top: 30px;
    display: flex;
    justify-content: right;
    gap: 1em;
    
    
}

.circulos {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.texto-sub-information {
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: black;
}

