body {
    background: linear-gradient(to right, #4a0048, #3d003d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(#800080, black) ;
    border-radius: 20px;
    padding: 30px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h2 {
    color: white;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: darkgreen;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(
        to right, 
        #800080,
        #000  
    );}