 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1150px;
}

.u-section-1 .u-text-1 {
  font-size: 15.625rem;
  margin: 39px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 14px 0 39px;
}

.u-section-1 .u-image-1 {
  min-height: 786px;
  background-image: url("images/f770f9fbd5f6c1ea18deeecbcd860f5e57754c5fa97e5964c2f59ee98d4fdee187c7009edf2b5610900c90a4ca5b5998de90c8e7a9dd0a2f6d944e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  min-height: 786px;
  background-image: url("images/8db347bedb01ee53043cf4af86f6fc7f136283a06e15f166966ad91d6b620ad675447b33fe33f46ec88d761f59e2844fa0d2acfbb924cd9f93baeb_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-1 .u-text-1 {
    font-size: 12.5rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 666px;
  }

  .u-section-1 .u-image-2 {
    min-height: 648px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-1 .u-image-1 {
    min-height: 631px;
  }

  .u-section-1 .u-image-2 {
    min-height: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1383px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    min-height: 744px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1172px;
  }

  .u-section-1 .u-image-2 {
    min-height: 468px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 910px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 83px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 816px;
  background-image: url("images/pexels-dhanno-25184998.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 816px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 410px;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 62px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -5px;
  }

  .u-section-2 .u-image-1 {
    min-height: 715px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 715px;
  }

  .u-section-2 .u-image-2 {
    height: 330px;
    margin-top: 142px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    min-height: 661px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 661px;
  }

  .u-section-2 .u-image-2 {
    height: 241px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1272px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -236px;
  }

  .u-section-2 .u-image-1 {
    min-height: 694px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 418px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    min-height: 437px;
  }

  .u-section-2 .u-image-2 {
    height: 257px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 494px;
}

.u-section-3 .u-text-1 {
  margin: 80px 241px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 29px 0 0 570px;
}

.u-section-3 .u-image-1 {
  width: 281px;
  height: 309px;
  margin: -191px auto -39px 133px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-left: 59px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 902px;
}

.u-section-4 .u-image-1 {
  width: 882px;
  height: 670px;
  object-position: 50% 25.98%;
  margin: 69px auto 0;
}

.u-section-4 .u-text-1 {
  margin: 30px auto 50px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 547px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 410px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 258px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1034px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 58px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 634px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 68px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 316px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 253px;
  height: 226px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 316px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 253px;
  height: 226px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-image-3 {
  min-height: 634px;
  background-image: url("images/pexels-eugenia-remark-5767088-15956088.jpg");
  background-position: 50% 15.45%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1192px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 523px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 260px;
  }

  .u-section-5 .u-image-3 {
    min-height: 523px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1823px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 320px;
  }

  .u-section-5 .u-image-3 {
    min-height: 801px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1708px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 601px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 152px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 151px;
  }

  .u-section-5 .u-image-3 {
    min-height: 378px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 910px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 80px 0 78px;
}

.u-section-6 .u-image-1 {
  min-height: 754px;
  background-image: url("images/pexels-rajaalemnari-19718703.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 754px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 13px;
}

.u-section-6 .u-text-1 {
  margin: 158px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 54px 33px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 622px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 622px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 62px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 660px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 660px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 97px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 81px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1220px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -256px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 753px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1069px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -79px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 474px;
  }
}