.u-section-1 .u-sheet-1 {
  min-height: 751px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 423px;
  margin-top: 47px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-gallery-1 {
    height: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-gallery-1 {
    height: 825px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2204px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1896px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1508px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1206px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 750px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-image-1 {
  min-height: 315px;
  background-image: url("images/47f649d9bd213f562861751042dce36c3c629840cbd7f6c7d25a37446f2fa65ca7c036fea0e1244dd5e0bdd31c37270a43d64fb26a11a37897dddd_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-text-3 {
  margin: 28px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 315px;
  background-image: url("images/50bd0a2659ce0bf2dfb87acea3342317b40f5d4998c0a19573f80c2545551dda7b5a4c28acd5db62b213af0ac065242402d9ec36247f381c6f85b4_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1466px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 71px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1117px;
}

.u-section-3 .u-text-1 {
  margin: 54px auto 0;
}

.u-section-3 .u-list-1 {
  width: 737px;
  grid-template-rows: repeat(3, auto);
  margin: 54px auto 11px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 947px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 339px;
  height: 276px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: -251px 0 0 371px;
}

.u-section-3 .u-text-3 {
  margin: 10px 0 0 371px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-image-2 {
  width: 339px;
  height: 276px;
  object-position: 50% 7.75%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: -251px 0 0 371px;
}

.u-section-3 .u-text-5 {
  margin: 10px 0 0 371px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-image-3 {
  width: 339px;
  height: 276px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: -251px 0 0 371px;
}

.u-section-3 .u-text-7 {
  margin: 10px 0 0 371px;
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 354px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 354px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 354px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 354px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 354px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 214px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 214px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 214px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 214px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 214px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 214px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 85px;
    margin-left: 40px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 29px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 260px;
    margin-top: 121px;
    margin-left: -4px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -306px;
    margin-right: 31px;
    margin-left: 3px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 291px;
    margin-right: 24px;
    margin-left: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 260px;
    margin-top: 121px;
    margin-left: -4px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -306px;
    margin-right: 31px;
    margin-left: 3px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 291px;
    margin-right: 24px;
    margin-left: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 320px;
    height: 260px;
    margin-top: 121px;
    margin-left: -4px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -306px;
    margin-right: 31px;
    margin-left: 3px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 291px;
    margin-right: 24px;
    margin-left: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 705px;
}

.u-section-4 .u-group-1 {
  min-height: 135px;
  width: 800px;
  margin: 15px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 45px;
}

.u-section-4 .u-image-1 {
  min-height: 465px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('images/a72248248b93538852f46d52d5f47550429e924f69f44f7cd82f3c33901d6a6b82bc39f786e4e1d89ca4d4d3965763d7ca8e84553a6b33098383c3_1280.jpg');
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 465px;
  background-image: url("images/b6a38f9de51b1d06fc6d45c23afe6838ae15b13b42eeb6a353630da0deae089cf5dc868cebfdb24bedc7d74f2e89a5e512dbffc2550e9ba4d9327d_1280.jpg");
  background-position: 50% 0%;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-image-3 {
  min-height: 465px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('images/653d0480acd91466505f7ca5b64879ba4b0e9a8961a4692f23922837f640f2f3a9105bb665bb412dddd62d3b6e39c47405608e342ff0a96d29c949_1280.jpg');
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-text-5 {
  margin: 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-4 .u-group-1 {
    width: 660px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-image-1 {
    min-height: 283px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-image-2 {
    min-height: 283px;
  }

  .u-section-4 .u-image-3 {
    min-height: 283px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 505px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 474px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 834px;
}

.u-section-5 .u-text-1 {
  margin: 49px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 20px;
  margin-bottom: -80px;
  grid-template-rows: repeat(1, auto);
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 691px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 313px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 313px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 21.05%;
}

.u-section-5 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 313px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 375px;
  }

  .u-section-5 .u-image-1 {
    height: 247px;
  }

  .u-section-5 .u-image-2 {
    height: 247px;
  }

  .u-section-5 .u-image-3 {
    height: 247px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-5 .u-image-1 {
    height: 293px;
    margin-top: -7px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 38px;
  }

  .u-section-5 .u-image-2 {
    height: 293px;
    margin-top: -7px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 38px;
  }

  .u-section-5 .u-image-3 {
    height: 293px;
    margin-top: -7px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 508px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 508px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 508px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    height: 313px;
  }

  .u-section-5 .u-image-2 {
    height: 313px;
  }

  .u-section-5 .u-image-3 {
    height: 313px;
  }
} .u-section-6 {
  min-height: 66px;
}

.u-section-6 .u-sheet-1 {
  min-height: 655px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 78px auto 0;
  padding: 10px;
}

.u-section-6 .u-text-1 {
  margin: 31px 45px 0;
}

.u-section-6 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 655px;
  background-image: url("images/2733b66fb1e9ccd120b7b21e85250e0e78b5126bd07a7220e811e2b5572ddeb87a4d4a4ee4365b0fedc3d46830a9f7ce7b887053fb8f89f16efc2a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 318px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-6 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 66px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    min-height: 414px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-image-1 {
    min-height: 621px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    min-height: 391px;
  }
}